%flex {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  padding-top: 10px;
}
.topic {
  @extend %flex;
  &__title {
    font-size: 32px;
  }
  &__text {
    font-size: 24px;
  }
  &__sub_topic {
    @extend %flex;
    &__title {
      font-size: 28px;
    }
  }
}
