.job {
  width: 80%;
  margin: {
    top: 263px;
    left: auto;
    right: auto;
    bottom: 132px;
  }
  &__header {
    font-size: 32px;
    font-family: Inter Regular;
  }
  &__cards {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 36px;
  }
}
