$a: auto;

.banner {
  height: 338px;
  max-width: 100%;
  overflow-x: $a;
  padding: {
    top: 205px;
    bottom: 60px;
  }
  &__container {
    margin: auto;
    height: 173px;
    min-width: 460px;
    width: 75%;
    &__header {
      font-size: 64px;
      font-family: Inter Bold;
    }
    &__description {
      margin-top: 24px;
      font-size: 32px;
      font-family: Inter Regular;
    }
    &__button_group {
      margin-top: 40px;
      padding: {
        top: 13px;
        bottom: 13px;
      }
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
  }
}
