$a: auto;

.banner {
  height: 688px;
  width: 100%;
  padding {
    top: 205px;
    bottom: 60px;
    left: $a;
    right: $a;
  }
  &__container {
    height: 423px;
    min-width: 460px;
    width: $a;
    &__header {
      font-size: 64px;
    }
    &__description {
      margin-top: 24px;
      font-size: 32px;
    }
    &__button_group {
      margin-top: 40px;
      padding {
        top: 13px;
        bottom: 13px;
      }
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
  }
}
