.container {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

%text {
  font-size: 32px;
  text-decoration: none;
}

.header_nav_link {
  @extend %text;
  opacity: 0.6;
  transition: 1000ms 100ms ease;
  &__active {
    @extend %text;
    opacity: 0.9;
  }
  &:hover {
    opacity: 0.9;
  }
}
