.container {
  width: 280px;
  display: flex;
  justify-items: center;
  align-self: stretch;
}

.header_nav_link {
  opacity: 0.6;
  font-size: 32px;
  transition {
    property: opacity;
    delay: 200ms;
    duration: 500ms;
    timing-function: ease;
  }
  &__active {
    opacity: 0.9;
  }
  &:hover {
    opacity: 0.9;
  }
}
