%flex_column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.projects {
  display: flex;
  justify-items: row;
  padding-top: 145px;
  row-gap: 30px;
  &__navigation {
    @extend %flex_column;
    width: 326px;
    padding: 20px;
    border-right-width: 1px;
    border-right-style: solid;
    overflow-y: auto;
  }
  &__content {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding: 50px;
    width: calc(100% - 652px);
  }
  &__product_navigation {
    @extend %flex_column;
    width: 326px;
    overflow-y: auto;
    padding: 20px;
    &__header {
      font-size: 32px;
    }
  }
}
