%flex {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.product_navigation_block {
  @extend %flex;
  &__topic {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: start;
    align-items: center;
    &__ellipse {
      border-radius: 20000px;
      width: 34px;
      height: 34px;
    }
  }
  &__subtopics {
    @extend %flex;
    padding-left: 70px;
  }
}
