.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border: {
    width: 2px;
    radius: 15px;
  }
  font-size: 32px;
  transition: 1000ms 100ms ease;
  &:hover {
    cursor: pointer;
  }
}
