.footer_info_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  &__header {
    font-size: 24px;
    font-family: Inter Medium;
  }
  &__details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
